<% @posts.each do |post| %>

<h1> hello from paiges index </h1>

<a href="/posts/<%= post.slug %>"><%= post.title %></a>
<%= post.date.strftime('%A, %b %d, %Y') %>
<%= post.category %>
<%= post.description %>
<% end %>
