<div class="column middle">
<div>
<% @posts.each do |post| %>
      <div>
        <a href="/posts/<%= post.slug %>"><%= post.title %></a>
      </div>

      <div class="date">
        <%= post.date.strftime('%A, %b %d, %Y') %>
      </div>
      <div class="date">
        <%= post.category.titleize %>
      </div>

      <div class="content">
        <p>
        <%= post.description %>
      </p>
      </div>
  <br />
<% end %>
</div>
</div>
